*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.filters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(151, 82, 75);
    width: 100%;
}